html, body {
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    background-image: url(./assets/plane-background.jpg);box-shadow: inset 0 0 0 3000px rgba(0,0,0,.5);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.title {
    color: #f5f5f5;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    padding: 0px;
}

.p1 {
    line-height: 1.5;
}

.main {
    color: #f5f5f5;
    text-align: center;
}

.flight-info {
    color: #f5f5f5;
    text-align: center;
    padding: 40px;
}

.forecast-title {
    margin-bottom: 40px;
}

#forecast {
    padding-bottom: 50px;
    color: #f5f5f5; 
    padding-top: 30px;
    text-align: center;
}